
$bg-color: #34495e;
$default-size: 0.45em;
$label-font-size: $default-size;
$label-font-size-redo: $default-size * 10;
$color: yellow;
$bg-color: grey;
$yellow: #ffc935;


// -- mixins
@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin draw-progress($progress, $color) {
  .pie {
    .half-circle {
      border-color: $color;
    }

    .left-side {
      transform: rotate($progress * 3.6deg);
    }

    @if $progress <= 50 {
      .right-side {
        display: none;
      }
    } @else {
      clip: rect(auto, auto, auto, auto);

      .right-side {
        transform: rotate(180deg);
      }
    }
  }
}

@mixin draw-progress--solid($progress, $color, $bg-color) {
  background: linear-gradient(to right, $color 50%, $bg-color 50%);

  &:before {
    @if $progress <= 50 {
      background: $bg-color;
      transform: rotate((100 - (50 - $progress)) / 100 * 360deg * -1);
    } @else {
      background: $color;
      transform: rotate((100 - $progress) / 100 * 360deg);
    }
  }
}

// -- selectors
*,
*:before,
*:after {
  box-sizing: border-box;
}

.charts-container {
  font-family: sans-serif;
}

.set-size {
  font-size: 10em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 600px;
}

.charts-container {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.skill-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 175px;
  font-weight: bold;
  margin: 0px 5px 0px 5px;
}

.pie-wrapper {
  @include size($default-size, $default-size);
  float: left;
  margin: 15px;
  position: relative;

  &:nth-child(3n + 1) {
    clear: both;
  }

  .pie {
    @include size(100%, 100%);
    clip: rect(0, $default-size, $default-size, $default-size / 2);
    right: 0;
    position: absolute;
    top: 0;

    .half-circle {
      @include size(100%, 100%);
      border: ($default-size / 6) solid #3498db;
      border-radius: 50%;
      clip: rect(0, $default-size / 2, $default-size, 0);
      right: 0;
      position: absolute;
      top: 0;
    }
  }

  .label {
    background: $bg-color;
    border-radius: 50%;
    bottom: $label-font-size-redo /10;
    color: #ecf0f1;
    cursor: default;
    display: block;
    left: $label-font-size-redo / 10;
    line-height: $label-font-size-redo * .70;
    position: absolute;
    right: $label-font-size-redo / 8;
    text-align: center;
    top: $label-font-size-redo / 8;
    font-size: 17px;
    font-weight: bold;
  }

  .shadow {
    @include size(100%, 100%);
    border: $default-size / 6  solid #bdc3c7;
    border-radius: 50%;
  }

  &.style-2 {
    .label {
      font-weight: bold;
      background: none;
      color: black;
    }
  }

  &.progress-25 {
    @include draw-progress(25, $yellow);
    transition: all 1s ease;
       &:hover{
       transform: scale(1.1);
    }
  }

      &.progress-50 {
    @include draw-progress(50, $yellow);
    transition: all 1s ease;
       &:hover{
       transform: scale(1.1);
    }
  }

    &.progress-55 {
    @include draw-progress(55, $yellow);
    transition: all 1s ease;
       &:hover{
       transform: scale(1.1);
    }
  }


      &.progress-70 {
    @include draw-progress(70, $yellow);
    transition: all 1s ease;
       &:hover{
       transform: scale(1.1);
    }
  }


      &.progress-85 {
    @include draw-progress(85, $yellow);
    transition: all 1s ease;
       &:hover{
       transform: scale(1.1);
    }
  }

       &.progress-90 {
    @include draw-progress(90, $yellow);
    transition: all 1s ease;
       &:hover{
       transform: scale(1.1);
    }
  }
}

.skill-tech{
  .skill{
    font-size: 16px;
    font-weight: bold;
  }
}

.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;

  &:before {
    border-radius: 0 100% 100% 0 / 50%;
    content: '';
    display: block;
    height: 100%;
    margin-left: 50%;
    transform-origin: left;
  }

  .label {
    background: transparent;
  }

  &.progress-65 {
    @include draw-progress--solid(65, #e67e22, $bg-color);
  }

  &.progress-25 {
    @include draw-progress--solid(25, #9b59b6, $bg-color);
  }

  &.progress-88 {
    @include draw-progress--solid(88, #3498db, $bg-color);
  }
}
